<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="LOG_HOME" value="${logging.home}"/>
    <property name="ENCODER_PATTERN"
              value="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg - \\(%L\\)%n"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator> <!-- 默认为 ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
                <expression>return message.contains("Restarting subscription");</expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${ENCODER_PATTERN}</Pattern>
        </encoder>
    </appender>

    <!--<appender name="allFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<filter class="ch.qos.logback.core.filter.EvaluatorFilter">-->
            <!--<evaluator> &lt;!&ndash; 默认为 ch.qos.logback.classic.boolex.JaninoEventEvaluator &ndash;&gt;-->
                <!--<expression>return message.contains("Restarting subscription");</expression>-->
            <!--</evaluator>-->
            <!--<OnMatch>DENY</OnMatch>-->
            <!--<OnMismatch>NEUTRAL</OnMismatch>-->
        <!--</filter>-->
        <!--<file>${LOG_HOME}/open-sdk-gen.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>${LOG_HOME}/open-sdk-gen.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
            <!--<maxHistory>7</maxHistory>-->
            <!--<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<MaxFileSize>100MB</MaxFileSize>-->
            <!--</TimeBasedFileNamingAndTriggeringPolicy>-->
        <!--</rollingPolicy>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>${ENCODER_PATTERN}</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <root level="${logging.level}">
        <appender-ref ref="consoleAppender"/>
        <!--<appender-ref ref="allFileAppender"/>-->
    </root>
</configuration>